@shadowBottom:0 0.2rem 0.3rem rgba(48,48,48,192);
@shadowTop:0 0.1rem 0.2rem rgba(48,48,48,192);
html{
    font-size: 5px;
}
body{
    margin: 0;
    padding: 0;
    background: #eeeeee;
    font-family: "Consolas","微软雅黑";
    user-select:none;
    width: 100%;
}
// 标题
.title {
    background: steelblue;
    color: white;
    box-shadow: @shadowBottom;
    width: 100%;
    text-align: center;
    // 动态内容
    margin-bottom: 3rem;
    height: 5rem;
    h1 {
        margin: 0;
        padding: 0;
        // 动态内容
        font-size: 5rem;
        line-height: 5rem;
    }
}

// 下面的按钮
.dashboard{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: steelblue;
    box-sizing: border-box;
    box-shadow: @shadowTop;
    text-align: center;
    // 动态内容
    height: 5rem;
    .buttons{
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        button{
            cursor: pointer;
            color: white;
            border-width: 0 0px 0 1px;
            border-color: #FFFFFF;
            border-style: solid;
            background: transparent;
            box-shadow: 0px;
            height: 5rem;
            font-size: 4rem;
            &:last-child{
                border-color: #FFFFFF;
                border-width: 0 1px 0 1px;
            }
        }
    }
}

@media (max-width: 465px) {
    .buttons{
        button {
            width: 25%;
            float: left;
        }
    }
    .container{
        .row{
            >span{
                width: 10%;
                height: auto;
                line-height: 1rem;
            }
        }
    }
    @popupCellSize:5rem;
    .popup-num{
        .row{
            >span{
                width: 4rem;
                height: @popupCellSize;
                line-height: @popupCellSize;
            }
        }
    }
}

@media (min-width:465px) and (max-width: 767px) {
    .buttons{
        button {
            width: 25%;
            float: left;
        }
    }
    .container{
        .row{
            >span{
                width: 5rem;
                height: auto;
                line-height: 1rem;
            }
        }
    }
    @popupCellSize:5rem;
    .popup-num{
        .row{
            >span{
                width: @popupCellSize;
                height: @popupCellSize;
                line-height: @popupCellSize;
            }
        }
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .buttons{
        button {
            width: 10%;
        }
    }
    .container{
        .row{
            >span{
                width: 5rem;
                height: auto;
                line-height: 1rem;
            }
        }
    }
    @popupCellSize:5rem;
    .popup-num{
        .row{
            >span{
                width: @popupCellSize;
                height: @popupCellSize;
                line-height: @popupCellSize;
            }
        }
    }
}
@media (min-width: 991px) and (max-width: 1199px) {
    .buttons{
        button {
            width: 10%;
        }
    }
    .container{
        .row{
            >span{
                width: 5.5rem;
                line-height: 1rem;
            }
        }
    }
    @popupCellSize:5.5rem;
    .popup-num{
        .row{
            >span{
                width: @popupCellSize;
                height: @popupCellSize;
                line-height: @popupCellSize;
            }
        }
    }
}
@media (min-width: 1199px) {
    .buttons{
        button {
            width: 10%;
        }
    }
    .container{
        .row{
            >span{
                width: 6rem;
                height: 1rem;
                line-height: 1rem;
            }
        }
    }
    @popupCellSize:6rem;
    .popup-num{
        .row{
            >span{
                width: @popupCellSize;
                height: @popupCellSize;
                line-height: @popupCellSize;
            }
        }
    }
}


// 弹出框
.hidden{
    display:none;
}

.container{
        .row{
            text-align: center;
            >span{
                background: #fff;
                display: inline-block;
                cursor: pointer;
                text-align: center;
                border: 1px solid #111;
                border-right-width: 0;
                border-bottom-width: 0;
                &:last-child{
                    border-right-width: 2px;
                }
                &:first-child{
                    border-left-width: 2px;
                }
                &.col_g_right{
                    border-right-width:1px; 
                }
            }
            &.row_g_bottom{
                >span{
                    border-bottom-width: 2px;
                }
            }
            &:first-child{
                >span{
                    border-top-width: 2px;
                }
            }
            &:last-child{
                 >span{
                    border-bottom-width: 2px;
                }
            }
            & .empty{
                color: #FFFFFF;
                background: #FFFFFF;

            }
            & .fixed{
                background:#f5f5f5; 
            }
            & .mark1{
                background: lightblue;
                &.empty{
                    color: lightblue;
                }
            }
            & .mark2{
                background: lightgreen;
                &.empty{
                    color: lightblue;
                }
            }
            & .error{
                background: lightpink;
                &.empty{
                    color: lightpink;
                }
            }
        }
    }

    
// 弹出框
.popup-num{
    .container();
    position: absolute;
    .row{
        padding: 0;
    }
}
#popupNumbers{
    max-width: 200px;
    max-height:200px;
    margin-right: 50px;
    position: fixed;
    bottom: 0;
}
    


